<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    >
    <link rel="stylesheet" href="styles.css">
    <title>Wedding Page Vue</title>
</head>
<body>
<div class="dark-gray">
  <nav id="wedding-nav" class="navbar navbar-default" role="navigation">
    <div class="navbar-collapse">
      <ul class="nav nav-justified">
        <li class="nav-item">
          <a class="nav-link" href="#about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#gallery">Picture Gallery</a>
        </li>
        <li>
            <a href="#" class="navbar-brand">Becca and Sean</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#rsvp">RSVP</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#registry">Registry</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div id="app" class="fluid-container" data-spy="scroll" data-target="#wedding-nav" data-offset="0">
  <div class="row justify-content-center bottom-line">
    <div class="col-sm-12 text-center">
        <img class="padded" src="imgs/IMG_20180810.jpg" alt="Engagement!" width="1080">
    </div>
    <div class="col-sm-12 text-center my-auto">
        <h1 class="padded">October 10th, 2020</h1>
    </div>
  </div>
  <div id="about" class="row">
    <div class="col-sm bottom-line">
      <div class="text-center">
        <h3 class="padded">About Us</h3>
      </div>
      <p>
        A long time ago in a galaxy far far away...

        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ipsum neque, vulputate sit amet scelerisque in, tincidunt at purus. Fusce neque dui, viverra in erat et, commodo vulputate nisi. Fusce tempus, lacus et elementum varius, nisl mauris pretium urna, ut cursus dolor eros et urna. Suspendisse mollis fringilla dapibus. Sed volutpat turpis hendrerit libero tincidunt, aliquet porttitor metus malesuada. Mauris dapibus maximus ultrices. Quisque eu velit at ante mollis suscipit at ac ligula.
        Nulla vel leo laoreet, consequat arcu et, vehicula turpis. Pellentesque porttitor feugiat erat a pulvinar. Fusce hendrerit odio non laoreet accumsan. Morbi euismod turpis id euismod rutrum. Proin in sapien justo. Sed congue tellus ut imperdiet euismod. Sed suscipit dui nec dui imperdiet varius. Pellentesque quis ipsum ac tortor tincidunt luctus vel sit amet lacus. Vivamus laoreet elit auctor, elementum purus ut, consectetur lacus. Sed arcu massa, congue non dictum ac, ullamcorper ut lorem. Phasellus faucibus nisi neque, in tristique est accumsan sit amet. Nunc et finibus enim. Suspendisse vehicula, diam vitae pretium ultricies, enim massa tristique sem, ut aliquet metus mauris et ipsum.
        Phasellus vulputate pharetra sagittis. In et malesuada nulla. Nunc tincidunt justo lectus, sed pulvinar leo fermentum sed. Nulla malesuada erat enim, et accumsan enim tristique id. Sed ac lorem lacinia dui ultricies porta. In at turpis urna. Fusce at nunc sit amet nisl sodales vestibulum eu at metus. Vivamus maximus egestas lacus, at varius tellus luctus et. Integer maximus hendrerit ultricies. Phasellus ut felis pretium, cursus turpis ut, tempor magna. Etiam at massa velit. Fusce finibus eros at erat tincidunt varius. Aliquam erat volutpat. Mauris in auctor tortor. Sed massa quam, elementum commodo congue nec, interdum ac massa. Phasellus nisi purus, iaculis a maximus non, condimentum rutrum lacus.
        Nulla consectetur tincidunt urna vitae rhoncus. In ac velit ante. Vestibulum lobortis non mi ut pulvinar. In hac habitasse platea dictumst. Quisque pellentesque hendrerit ullamcorper. Donec mauris nisl, semper sed massa vel, blandit dapibus nisl. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Fusce aliquam tincidunt felis a mollis. Donec nec pretium nulla. Praesent id commodo odio. Curabitur non iaculis leo. Interdum et malesuada fames ac ante ipsum primis in faucibus. Etiam ligula velit, volutpat sit amet dapibus a, posuere quis nisl. Cras sit amet malesuada ligula, ut congue nunc. Pellentesque dolor urna, vestibulum id tellus et, fermentum vulputate felis. Praesent rutrum, ligula a scelerisque rutrum, nulla diam molestie leo, non convallis neque felis ut turpis. Integer tristique sem in est interdum finibus. Curabitur volutpat ornare ultricies. Phasellus pharetra est at elit tempor aliquet.
      </p>
    </div>
  </div>
  <div id="gallery" class="row">
    <div class="col-sm-12">
      <div class="text-center">
        <h3 class="padded">Picture Gallery</h3>
      </div>
      <div class="text-center">
        <h5 class="padded">Here's some pictures showing our adventures!</h5>
      </div>
    </div>
  </div>
  <div id="gallery-pictures" class="row bottom-line">
    <div class="col-sm-4" v-for="i in imageCols">
      <div v-for="j in imageRows">
        <img
          v-if="(3*(j-1) + (i-1)) < images.length"
          v-bind:src="images[3*(j-1) + (i-1)].src"
          v-bind:alt="images[3*(j-1) + (i-1)].alt"
          v-bind:title="images[3*(j-1) + (i-1)].alt"
          class="img-fluid padded rounded"
        >
      </div>
    </div>
  </div>
  <div id="rsvp" class="row">
    <div class="col-sm bottom-line">
      <div class="text-center">
        <h3 class="padded">RSVP</h3>
      </div>
      <div class="text-center">
        <h5>
          Let us know if you will be coming to our wedding!
        </h5>
        <form @submit.prevent="handleRSVPSubmit">
          <div class="padded-sm">
            <label for="rsvpName">Name</label>
            <input v-model="rsvpData.name" id="rsvpName" placeholder="Name">
          </div>
          <div class="padded-sm">
            <label for="rsvpEmail">Email</label>
            <input v-model="rsvpData.email" id="rsvpEmail" placeholder="Email">
          </div>
          <div class="padded-sm">
            <label for="rsvpMeal">Meal Choice</label>
            <select id="rsvpMeal" v-model="rsvpData.meal">
              <option v-for="meal in mealOptions" v-bind:value="meal">
                {{ meal }}
              </option>
            </select>
          </div>
          <div class="padded-sm">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div id="registry" class="row bottom-line">
    <div class="col-sm-12 text-center">
      <h3 class="padded">Registries</h3>
      <h5>
        Want to get us a gift but aren't sure what to buy? Check out our registries here for ideas:
      </h5>
    </div>
    <div class="col-sm-12 text-center" v-for="registry in registries">
      <a v-bind:href="registry.link"><img
        v-bind:src="registry.src"
        v-bind:alt="registry.alt"
        v-bind:title="registry.alt"
        class="img-fluid padded rounded"
        ></a>
    </div>
  </div>
  <div id="contact" class="row">
    <div class="col-sm">
      <div class="text-center">
        <h3 class="padded">Contact</h3>
      </div>
      <div class="text-center">
        <h5>
          Got some questions? Send us a message!
        </h5>
        <form @submit.prevent="handleContactSubmit">
          <div class="padded-sm">
            <label for="contactName">Name</label>
            <input v-model="contactData.name" id="contactName" placeholder="Name">
          </div>
          <div class="padded-sm">
            <label for="contactEmail">Email</label>
            <input v-model="contactData.email" id="contactEmail" placeholder="Email">
          </div>
          <div class="padded-sm">
            <label for="contactMessage">Message</label>
            <textarea
              id="contactMessage"
              v-model="contactData.message"
              placeholder="Put your message here!"
            ></textarea>
          </div>
          <div class="padded-sm">
            <input type="submit" value="Submit">
          </div>
        </form>
      </div>
    </div>
  </div>
</div>


<!-- Bootstrap JS srcs -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>
<script
  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>

<!-- Vue and local JS srcs -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="index.js"></script>

</body>
</html>
