body {
    background: #33b8b6;
}

h1, h2, h3, h4, h5, h6, p, li, a {
    color: white;
}

.teal {
    background: #33b8b6;
}

.burnt-orange {
    background: #bc6610;
}

.raspberry {
    background: #e6005c;
}

.copper {
    background: #b87333;
}

.dark-gray {
    background: #698281
}

.padded {
    padding-top: 20px;
    padding-bottom: 20px;
}

.bottom-line {
    border-bottom: 2px solid rgb(105,130,129, 0.2);
}

#app {
    margin-left: 5%;
    width: 90%;
}
