.teal {
    background: #035d65;
}

.bold-orange {
    background: #FF6C08;
}

.raspberry {
    background: #D01E5C;
}

.dark-red {
    background: #8E151E;
}

.emerald {
    background: #115E58;
}

.dark-blue {
    background: #0B0365;
}

.purple {
    background: #65035D;
}

.dark-gray {
    background: #629a9f;
}

.dark-gold {
    background: #D4B47B;
}
