html {
  scroll-behavior: smooth;
}

body {
  background: #035d65;
}

#initial-container {
  height: 750px;
}

.glow {
    font-size: 50px;
    color: white;
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 9px #fff, 0 0 11px #fff, 0 0 13px #fff;
    -webkit-animation: glow 1.5s ease-in-out infinite alternate;
    -moz-animation: glow 1.5s ease-in-out infinite alternate;
    animation: glow 1.5s ease-in-out infinite alternate;
}

.glow0 {
  position: absolute;
  left: 53%;
  top: 5%;
}

.glow1 {
  position: absolute;
  left: 43%;
  top: 18%;
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  animation-delay: 0.25s;
}

.glow2 {
  position: absolute;
  left: 37%;
  top: 35%;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
  animation-delay: 0.5s;
}

.glow3 {
  position: absolute;
  left: 44%;
  top: 53%;
  -webkit-animation-delay: 0.75s;
  -moz-animation-delay: 0.75s;
  animation-delay: 0.75s;
}

.glow4 {
  position: absolute;
  left: 62%;
  top: 72%;
  -webkit-animation-delay: 1.0s;
  -moz-animation-delay: 1.0s;
  animation-delay: 1.0s;
}

.glow5 {
  position: absolute;
  left: 51%;
  top: 83%;
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  animation-delay: 1.25s;
}

.glow6 {
  position: absolute;
  left: 32%;
  top: 65%;
  -webkit-animation-delay: 1.5s;
  -moz-animation-delay: 1.5s;
  animation-delay: 1.5s;
}

.hide-container {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  animation-name: fadeOut;
  display: none;
}

.fadeIn {
  -webkit-animation-name: fadeOut;
  -moz-animation-name: fadeOut;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 5px #fff, 0 0 7px #fff, 0 0 9px #fff, 0 0 11px #fff, 0 0 13px #fff;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff, 0 0 80px #fff;
  }
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
} 

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;} 
} 
